<footer class="footer">
    <div class="info-container">
        <div class="theme-info info-item">
          <a target="_blank" href="https://omgswap.COM">OMGSwap</a> |
          <a target="_blank" href="https://odex.link">ODEX</a> |
          <a target="_blank" href="https://omgswap.link">OMGSwap Info</a> |
          <a target="_blank" href="https://omgswap.in">Prime Staking</a> |
          <a target="_blank" href="https://omgswap.in">Prime Vault</a>
        </div>
        <div class="copyright-info info-item"> &copy; 2018 - <%= date(new Date(), 'YYYY') %>  OMGSWAP.IN &
          <a target="_blank" href="https://omgswap.in">Ǒmega Protocol</a> | All Right Reserved.
            <div style ="float: right;">
              <a target="_blank" href="https://twitter.com/omegadefi"><i class="fa fa-twitter"></i></a>
              <a target="_blank" href="https://t.me/omegadefi"><i class="fa fa-telegram-t"></i></a>
              <a target="_blank" href="https://www.facebook.com/omegadefi"><i class="fa fa-facebook"></i></a>
              <a target="_blank" href="https://github.com/omgswap"><i class="fa fa-github"></i></a>
              <a target="_blank" href="https://medium.com/@omegadefi"><i class="fa fa-medium"></i></a>
          </div>
        </div>
    </div>
</footer>
