@require '../common/variables.styl'
.footer {

  color: var(--third-text-color);

  a {
    color: var(--third-text-color);

    &:hover {
      color: $primary-color;
    }
  }

  .info-container {
    text-align: center;
  }

  .info-item {
    padding: 10px;
    background-color: var(--background-color);
  }

}
